apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: jsob
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: jsob
    app.kubernetes.io/part-of: byoc-app-tptd
  name: jsob
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: jsob
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: jsob
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-ihvg-tenant/byoc-app-tptd/jsob@sha256:a8f494cd90476e8867b984038b0ed86c4bbfe3ee71c77c48205334b562d36dbe
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
